@using Microsoft.AspNetCore.Mvc.Localization

@model ViewModelBase

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignSDKWebAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/lib/font-awesome/css/all.min.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../static/img/favicon-digst.png" href="/img/favicon-digst.png" />
</head>
<body>

    <header>
        <div class="container body-content">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-file-signature mr-1"></i>NemLog-in Signering</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["menu.home"]</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">

                            @if (Model.Language == "en-US")
                            {
                                <a href="/?culture=da-DK&ui-culture=da-DK" class="language" rel="da"><img src="/Content/Images/denmark-flag-icon-32.png" /></a>
                                { Model.Language = "en-US"; }
                            }
                            else
                            {
                                <a href="/?culture=en-US&ui-culture=en-US" class="language" rel="en"><img src="/Content/Images/united-kingdom-flag-icon-32.png" /></a>
                                { Model.Language = "da-DK"; }
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-center">&copy; 2020 Digitaliseringsstyrelsen</footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
