@model SignErrorModel

@{
    ViewData["Title"] = "SignError";
}

<div>
    <div class="container page-layout">
@*            <div th:replace="fragments/layout :: headerFragment"></div>*@

        <div class="page-content">

            <div class="mb-3">
                <span style="float: right">
                    <a href="/" class="btn btn-secondary">Back</a>
                </span>
                <h2 text="Applikationsfejl"></h2>
            </div>

            <div class="overflow-hidden">
                <table class="table mt-4">

                    @if (Model.Timestamp != null)
                    {
                        <tr>
                            <th>Dato</th>
                            <td>@Model.Timestamp</td>
                        </tr>
                    }

                    @if (Model.HttpStatusCode != null)
                    {
                        <tr>
                            <th>Status</th>
                            <td>@Model.HttpStatusCode</td> 
                        </tr>
                    }

                    @if (Model.Message != null)
                    {
                        <th>Besked</th>
                        <td>@Model.Message</td>
                    }

                    @if (@Model.details.Any())
                    {
                        int index = 0;
                        <tr>
                            @foreach (var item in Model.details)
                            {
                                index++;
                            <th><span>Detaljer</span> <span></span>@index</th>
                            <td>
                                <span class="signing-error-code">@item.ErrorCode</span>
                                <span>@item.ErrorMessage</span>
                            </td>
                            }
                        </tr>
                    }
                    
                </table>
            </div>
        </div>
    </div>
</div>

