@using Microsoft.AspNetCore.Mvc.Localization

@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["title"];
}

<div class="page-content">
    <h2 class="mb-3">@Localizer["index.title"]</h2>

    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th style="text-align:left">@Localizer["index.documents.name"]</th>
                <th scope="col" style="text-align:center">@Localizer["index.documents.download"]</th>
                <th scope="col" style="text-align:center">@Localizer["index.documents.delete"]</th>
                <th scope="col" style="text-align:center">@Localizer["index.documents.sign_as"]</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in @Model.Files)
            {
                <tr>
                    <th th style="text-align:left">@item.SignersDocumentFile.Name</th>

                    <td class="text-center">
                        <a asp-controller="Home" asp-action="Download" asp-route-fileName="@item.SignersDocumentFile.Name" asp-route-filePath="@item.SignersDocumentFile.Path" class="btn btn-secondary"><i class="fas fa-file-download"></i></a>
                    </td>

                    <td class="text-center">
                        <a asp-controller="Home" asp-action="Delete" asp-route-fileName="@item.SignersDocumentFile.Name" asp-route-filePath="@item.SignersDocumentFile.Path" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                    </td>

                    <td class="text-center">
                        <a asp-controller="Home" asp-action="Sign" asp-route-format="pdf" asp-route-filePath="@item.SignersDocumentFile.Path" asp-route-language="@Model.Language" asp-route-culture="@Model.Language" class="btn btn-secondary mr-1">
                            <i class="fas fa-file-signature"></i>
                            <span>PDF</span>
                        </a>

                        <a asp-controller="Home" asp-action="Sign" asp-route-format="xml" asp-route-filePath="@item.SignersDocumentFile.Path" asp-route-language="@Model.Language" asp-route-culture="@Model.Language" class="btn btn-secondary mr-1">
                            <i class="fas fa-file-signature"></i>
                            <span>XML</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload" class="upload-sd-form">
        <span class="mr-5">@Localizer["index.documents.upload_files"]</span>
        <input type="file" name="files" id="choose-files" accept=".pdf, .xml, .html, .txt, .xsl, .properties" multiple class="pull-right">
        <button type="submit" value="Upload" name="submit" class="btn btn-sm btn-outline-secondary ml-5" id="upload-files">
            <i class="fas fa-upload"></i>
            <span>@Localizer["index.documents.upload"]</span>
        </button>
    </form>

</div>

